CW02-answers/html&css/challenge-2/bg-image.jpg
Hamid_Shamsian_hw2_maktab_99/hw2.pdf
Hamid_Shamsian_hw2_maktab_99/Q1/images
Hamid_Shamsian_hw2_maktab_99/Q2/IMG_0001.jpg
Hamid_Shamsian_hw2_maktab_99/Q2/Qs_Iranyekan.ttf
Hamid_Shamsian_hw2_maktab_99/Q3/iran-flag.avif
Hamid_Shamsian_hw2_maktab_99/Q3/sKorea-flag.avif
